#SPDX-License-Identifier: Apache-2.0

.DS_Store
*~
*#
.#*
.*.sw*
/build
.idea
.vscode

/docs/protos.md
/google
/bindings/go-apiv1/**/*.pb.go
/bindings/go-apiv2/**/*.pb.go
/bindings/java/src
/bindings/node/src
/bindings/node/bom.json
